Repository Zerohertz/zerohertzLib: changes, and which Codecov flags are due for each by the changed paths.
All: algorithm, api, mlops, monitoring, plot, quant, util, vision

:recycle: chore: varibale names
  zerohertzLib/mlops/triton.py
Due: mlops

:hammer: ci: triton inference server
  .github/workflows/cicd-pr-dev-master.yaml
  .github/workflows/cicd-push-dev.yaml
  .github/workflows/cicd-push-master.yaml
Due: none

:hammer: fix: egg build file
  .github/workflows/cicd-pr-dev-master.yaml
  .github/workflows/cicd-push-dev.yaml
  .github/workflows/cicd-push-master.yaml
Due: none

:memo: chore: license
  pyproject.toml
Due: none

:hammer: fix: triton inference server url
  test/test_mlops.py
Due: mlops

:hammer: fix: zero reshape value error
  zerohertzLib/mlops/triton.py
Due: mlops

:hammer: chore: detections assert
  test/test_mlops.py
Due: mlops

:sparkles: ci: pytest xdist
  .github/workflows/cicd-pr-dev-master.yaml
  .github/workflows/cicd-push-dev.yaml
  .github/workflows/cicd-push-master.yaml
Due: none

:sparkles: ci: triton inference server
  .github/workflows/cicd-pr-dev-master.yaml
  .github/workflows/cicd-push-dev.yaml
  .github/workflows/cicd-push-master.yaml
  test/data/triton-inference-server/dynamic_batching/1/model.py
  test/data/triton-inference-server/static_batching/1/model.py
  test/data/triton-inference-server/static_batching/config.pbtxt
  test/data/triton-inference-server/without_batching/1/model.py
  test/data/triton-inference-server/without_batching/config.pbtxt
  test/test_mlops.py
  zerohertzLib/mlops/triton.py
Due: mlops

:hammer: update: version (#383)
  zerohertzLib/__init__.py
Due: none

:memo: docs: release note (#383)
  docs/release/v1.2.md
Due: none

:sparkles: ci: triton inference server
  codecov.yaml
  zerohertzLib/mlops/__init__.py
  zerohertzLib/mlops/cli.py
  zerohertzLib/mlops/client.py
  zerohertzLib/mlops/server.py
Due: mlops

:sparkles: chore: metadata for pypi
  pyproject.toml
Due: none

:hammer: update: version (#387)
  zerohertzLib/__init__.py
Due: none

:memo: docs: release note (#387)
  docs/release/v1.2.md
Due: none

:bug: fix: release note outer href (related: #377)
  test/test_api.py
  zerohertzLib/api/github.py
Due: api

:hammer: update: version (#389)
  zerohertzLib/__init__.py
Due: none

:memo: docs: release note (#389)
  docs/release/v1.1.md
  docs/release/v1.2.md
Due: none

:hammer: fix: batch index
  zerohertzLib/mlops/server.py
Due: mlops

:hammer: fix: string types
  zerohertzLib/mlops/client.py
Due: mlops

:ship: test: string output for triton inference server
  test/data/triton-inference-server/dynamic_batching/1/model.py
  test/data/triton-inference-server/dynamic_batching/config.pbtxt
  test/data/triton-inference-server/without_batching/1/model.py
  test/data/triton-inference-server/without_batching/config.pbtxt
  test/test_mlops.py
Due: mlops

:ship: test: string input for triton inference server
  test/data/triton-inference-server/dynamic_batching/1/model.py
  test/data/triton-inference-server/dynamic_batching/config.pbtxt
  test/data/triton-inference-server/without_batching/1/model.py
  test/data/triton-inference-server/without_batching/config.pbtxt
  test/test_mlops.py
Due: mlops

:ship: fix: triton inference server config.pbtxt
  test/data/triton-inference-server/dynamic_batching/config.pbtxt
  test/data/triton-inference-server/without_batching/config.pbtxt
Due: none

:hammer: fix: dtype in set inputs
  zerohertzLib/mlops/client.py
Due: mlops

:memo: docs: example images (#391)
  docs/assets/monitoring/storage.png
  docs/assets/plot/candle.png
  docs/assets/plot/hist.png
  docs/assets/plot/pie.png
  docs/assets/plot/plot.1.png
  docs/assets/plot/plot.2.png
  docs/assets/plot/scatter.png
  docs/assets/quant/bollinger_bands.png
  docs/assets/quant/macd.png
  docs/assets/quant/momentum.png
  docs/assets/quant/moving_average.png
  docs/assets/quant/rsi.png
  docs/assets/vision/grid.png
  docs/assets/vision/mask.png
  docs/assets/vision/vert.png
Due: none

:hammer: update: version (#391)
  zerohertzLib/__init__.py
Due: none

:memo: docs: release note (#391)
  docs/release/v1.2.md
Due: none

:sparkles: feat: progress logs for quant bot
  zerohertzLib/quant/quant.py
Due: quant

:hammer: update: quant bot time message
  zerohertzLib/quant/quant.py
  zerohertzLib/quant/util.py
Due: quant

:recycle: refactor: null position of quant bot
  zerohertzLib/quant/quant.py
Due: quant

:bug: fix: top strategy of quant
  zerohertzLib/quant/quant.py
Due: quant

:art: style: ruff
  zerohertzLib/api/github.py
Due: api

:recycle: refactor: progress and traceback of quant bot
  zerohertzLib/quant/quant.py
Due: quant

:memo: docs: type hint of idx
  zerohertzLib/quant/quant.py
Due: quant

Path conditions:
  algorithm: any of: test/test_algorithm.py, zerohertzLib/algorithm/**, but not: zerohertzLib/__init__.py, zerohertzLib/api/koreainvestment.py, zerohertzLib/monitoring/gpu.py, zerohertzLib/quant/koreainvestment.py, **/cli.py
  api: any of: test/test_api.py, zerohertzLib/api/**, but not: zerohertzLib/__init__.py, zerohertzLib/api/koreainvestment.py, zerohertzLib/monitoring/gpu.py, zerohertzLib/quant/koreainvestment.py, **/cli.py
  mlops: any of: test/test_mlops.py, zerohertzLib/mlops/**, but not: zerohertzLib/__init__.py, zerohertzLib/api/koreainvestment.py, zerohertzLib/monitoring/gpu.py, zerohertzLib/quant/koreainvestment.py, **/cli.py
  monitoring: any of: test/test_monitoring.py, zerohertzLib/monitoring/**, but not: zerohertzLib/__init__.py, zerohertzLib/api/koreainvestment.py, zerohertzLib/monitoring/gpu.py, zerohertzLib/quant/koreainvestment.py, **/cli.py
  plot: any of: test/test_plot.py, zerohertzLib/plot/**, but not: zerohertzLib/__init__.py, zerohertzLib/api/koreainvestment.py, zerohertzLib/monitoring/gpu.py, zerohertzLib/quant/koreainvestment.py, **/cli.py
  quant: any of: test/test_quant.py, zerohertzLib/quant/**, but not: zerohertzLib/__init__.py, zerohertzLib/api/koreainvestment.py, zerohertzLib/monitoring/gpu.py, zerohertzLib/quant/koreainvestment.py, **/cli.py
  util: any of: test/test_util.py, zerohertzLib/util/**, but not: zerohertzLib/__init__.py, zerohertzLib/api/koreainvestment.py, zerohertzLib/monitoring/gpu.py, zerohertzLib/quant/koreainvestment.py, **/cli.py
  vision: any of: test/test_vision.py, zerohertzLib/vision/**, but not: zerohertzLib/__init__.py, zerohertzLib/api/koreainvestment.py, zerohertzLib/monitoring/gpu.py, zerohertzLib/quant/koreainvestment.py, **/cli.py
